<!-- App Component - Main Layout -->
<header>
  <nav>
    <h1>{{ title }}</h1>
  </nav>
</header>

<main>
  <nav>
    <a routerLink="">Home</a>
    <a routerLink="404">404</a>
    <a routerLink="user">All Billionaires</a>
    <a routerLink="user/0">Bill Gates</a>
    <a routerLink="user/1">Jeff Bezos</a>
    <a routerLink="user/2">Elon Musk</a>
    <a routerLink="user/3">Mark Zuckerberg</a>
    <a routerLink="user/4">Russ Hanneman</a>
    <a routerLink="user/5">Jack Ma</a>
  </nav>
  <router-outlet />
